body, html{
  height:100%;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('stage.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
body, a:link, a:visited, a:active{
  color: white;
}
.addDancerButton{
  padding:5px 12px;
  float:right;
  text-decoration: none;
}

.lineUpButton, .danceAroundButton, .findPartnerButton, .explodeDancer{
  float: left;
  padding:5px 12px;
  text-decoration: none;
}

.highlighted{
  border: solid 1px white;
  border-radius: 5px;
  background-color: #4682B4;
}


.topbar{
  height:35px;
  background-color: #3299CC;
}
.title{
  font-size: 50pt;
  position: absolute;
  left: 10px;
  bottom: 10px;
  /*opacity: 50%;}*/
}
.dancer{
  position:absolute;
  width: 8%;
  height: 28%;
  background-image: url('peanut.gif');
  background-size: 100%;
  background-repeat: no-repeat
}

.piano-player{
  position:absolute;
  bottom: 12%;
  left: 5%;
  width: 10%;
  height: 15%;
  background-size: 100%;
  background-repeat: no-repeat;  
  background-image: url('purple.gif');
}




